<mat-card>
	<mat-card-content>
		<div
			class="w-100 d-flex justify-content-center flex-column align-items-center p-4"
		>
			<mat-icon color="primary" class="mb-2">{{ preset.icon }}</mat-icon>
			<h2
				class="mt-0 mb-2 pb-2 border-bottom border-light w-100 text-center"
			>
				{{ preset | translateEntry: 'name' }}
			</h2>
			<div [innerHTML]="preset | translateEntry: 'description'"></div>
			<i *ngIf="preset.models.length" class="mb-2">
				{{
					'presets_models_count'
						| translate: { count: preset.models.length }
				}}
			</i>
			<i *ngIf="preset.models.length > 1" class="mb-2">
				{{
					'presets_models_count_plural'
						| translate: { count: preset.models.length }
				}}
			</i>
			<i *ngIf="!preset.models.length" class="mb-2">
				{{
					'presets_models_count_0'
						| translate: { count: preset.models.length }
				}}
			</i>
			<ul *ngIf="preset.models.length" class="list-unstyled">
				<li *ngFor="let model of preset.models" class="badge mr-2 mb-2">
					{{ model.name }}
				</li>
			</ul>
			<button
				mat-raised-button
				color="primary"
				type="button"
				(click)="didClickApply()"
				class="mt-3 mat-elevation-z0"
			>
				{{ 'presets_use' | translate }}
			</button>
		</div>
	</mat-card-content>
</mat-card>
