<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <input id="name" formControlName="name" class="form-control" [(ngModel)]="channel.name" type="text">
            <div
              *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
              class="alert alert-danger mt-2">
              <div *ngIf="form.controls['name'].errors.required">
                {{ 'error_name_required' | translate }}
              </div>
              <div *ngIf="form.controls['name'].errors.pattern && !form.controls['name'].errors.required">
                {{ 'error_name_format' | translate }}
              </div>
              <div *ngIf="form.controls['name'].errors.minlength">
                {{ 'error_name_min_length' | translate:translateParams }}
              </div>
              <div *ngIf="form.controls['name'].errors.maxlength">
                {{ 'error_name_max_length' | translate:translateParams }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let template of channel.templates" class="list-group-item">
        <app-channel-template [template]="template"></app-channel-template>
      </li>
    </ul>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-8 my-2">
          <button type="button" class="btn btn-secondary" (click)="addTemplate()">
            <span class="oi oi-plus small"></span> {{ 'channels_add_template' | translate }}
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="cleanTemplates()">
            {{ 'channels_clean_templates' | translate }}
          </button>
        </div>
        <div class="col-sm-4 mt-sm-2 mb-2 text-sm-right">
          <button type="submit" class="btn btn-primary" [disabled]="channel.isEmpty()">
            {{ 'common_save' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
