<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="name" formControlName="name" class="form-control" [(ngModel)]="channel.name"
                               type="text">
                        <div
                                *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
                                class="alert alert-danger mt-2">
                            <div *ngIf="form.controls['name'].errors.required">
                                {{ 'error_name_required' | translate }}
                            </div>
                            <div *ngIf="form.controls['name'].errors.pattern && !form.controls['name'].errors.required">
                                {{ 'error_name_format' | translate }}
                            </div>
                            <div *ngIf="form.controls['name'].errors.minlength">
                                {{ 'error_name_min_length' | translate:translateParams }}
                            </div>
                            <div *ngIf="form.controls['name'].errors.maxlength">
                                {{ 'error_name_max_length' | translate:translateParams }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-sm-right d-none d-sm-block">
                    <button *ngIf="syncService.enabled()"
                            type="button"
                            class="btn btn-outline-secondary"
                            [disabled]="channel.isEmpty() || syncing"
                            (click)="onSync()">
                        {{ 'channels_sync' | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="channel.isEmpty()">
                        {{ 'common_save' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li *ngFor="let template of channel.templates" class="list-group-item">
                <app-channel-template [template]="template" (onSave)="onSubmit()"></app-channel-template>
            </li>
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="btn btn-secondary" (click)="addTemplate()">
                        <span class="oi oi-plus small"></span> {{ 'channels_add_template' | translate }}
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="cleanTemplates()">
                        {{ 'channels_clean_templates' | translate }}
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="onShowValidatorEditor()">
                        {{ 'channels_open_validator_editor' | translate }}
                    </button>
                </div>
                <div class="col-sm-4 text-sm-right">
                    <button type="submit" class="btn btn-primary" [disabled]="channel.isEmpty()">
                        {{ 'common_save' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="channel.templates.length" class="text-center mt-5">
        <button class="btn btn-outline-secondary" (click)="onDownload()">
            <span class="oi oi-data-transfer-download"></span> {{ 'channels_download' | translate }}
        </button>
    </div>
</form>
<div *ngIf="showValidatorEditor">
    <app-channel-validator-editor
            [channel]="channel"
            (onSave)="onValidatorEditorSave()"
            (onClose)="onValidatorEditorClose()">
    </app-channel-validator-editor>
</div>
