.action-label {
	width: 100px;
}

@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '../../../../theme.scss';
mat-card {
	position: relative;
	opacity: 0;
	animation: fadein 0.3s forwards;
	animation-delay: 0.2s;
}

input.title {
	font-size: 0.9em;
	font-weight: 500;
}

.overable > li:hover {
	background-color: $gray-100;
}

input[type='text'] {
	&:focus {
		color: mat-color($hpf-app-primary);
		outline: none;
	}
}
