<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group">
                        <input
                                (keyup)="onDebouncedChange()"
                                id="name"
                                formControlName="name"
                                class="form-control"
                                [(ngModel)]="model.name"
                                type="text">
                        <div
                                *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
                                class="alert alert-danger mt-2">
                            <div *ngIf="form.controls['name'].errors.required">
                                {{ 'error_name_required' | translate }}
                            </div>
                            <div *ngIf="form.controls['name'].errors.pattern && !form.controls['name'].errors.required">
                                {{ 'error_name_format' | translate }}
                            </div>
                            <div *ngIf="form.controls['name'].errors.minlength">
                                {{ 'error_name_min_length' | translate:translateParams }}
                            </div>
                            <div *ngIf="form.controls['name'].errors.maxlength">
                                {{ 'error_name_max_length' | translate:translateParams }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-sm-right d-none d-sm-block">
                    <button type="submit" class="btn"
                            [class.btn-primary]="unsavedChanges"
                            [class.btn-outline-secondary]="!unsavedChanges"
                            [disabled]="model.isEmpty()">{{ 'common_save' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li *ngFor="let field of model.fields" class="list-group-item">
                <app-model-field [field]="field"
                                 (onChange)="onModelChange()"
                                 (onMoveUp)="onFieldUp(field)"
                                 (onMoveDown)="onFieldDown(field)"></app-model-field>
            </li>
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="btn btn-secondary" (click)="addField()">
                        <span class="oi oi-plus small"></span> {{ 'models_add_field' | translate }}
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="cleanFields()">
                        {{ 'models_clean_fields' | translate }}
                    </button>
                </div>
                <div class="col-sm-4 text-sm-right">
                    <button type="submit" class="btn"
                            [class.btn-primary]="unsavedChanges"
                            [class.btn-outline-secondary]="!unsavedChanges"
                            [disabled]="model.isEmpty()">{{ 'common_save' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        <app-validator-details
                [signal]="onChange"
                [model]="model"></app-validator-details>
    </div>

    <div class="my-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <span>{{ 'access_title' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <div *ngFor="let action of getActions();" class="btn-toolbar mb-3">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary action-label" disabled>
                                    {{action}}
                                </button>
                                <button *ngFor="let access of accesses;" type="button" class="btn"
                                        [class.btn-outline-secondary]="!isAccesseselected(action, access)"
                                        [class.btn-outline-primary]="isAccesseselected(action, access) && model.accesses[action] !== access.value"
                                        [class.btn-primary]="isAccesseselected(action, access) && model.accesses[action] === access.value"
                                        (click)="onAccessChange(action, access)">
                                    {{access.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 text-right">
                        <button type="submit" class="btn"
                                [class.btn-primary]="unsavedChanges"
                                [class.btn-outline-secondary]="!unsavedChanges"
                                [disabled]="model.isEmpty()">{{ 'common_save' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
