<form [formGroup]="form" (submit)="submit()">
	<mat-card>
		<div
			class="d-flex w-100 align-items-center justify-content-start flex-nowrap border-bottom pb-2 mb-2"
		>
			<app-validator-icon
				[model]="model"
				class="flex-shrink-0 mr-2 d-flex align-items-center"
			></app-validator-icon>
			<input
				formControlName="name"
				class="title inline-input"
				type="text"
				(change)="onModelChange()"
			/>
			<!--
				<div
				  *ngIf="
						form.controls['name'].invalid &&
						(form.controls['name'].dirty ||
							form.controls['name'].touched)
					"
				  class="alert alert-danger mt-2"
				>
				  <div *ngIf="form.controls['name'].errors.required">
				    {{ 'error_name_required' | translate }}
				  </div>
				  <div
				    *ngIf="
							form.controls['name'].errors.pattern &&
							!form.controls['name'].errors.required
						"
				  >
				    {{ 'error_name_format' | translate }}
				  </div>
				  <div *ngIf="form.controls['name'].errors.minlength">
				    {{
				    'error_name_min_length'
				    | translate: translateParams
				    }}
				  </div>
				  <div *ngIf="form.controls['name'].errors.maxlength">
				    {{
				    'error_name_max_length'
				    | translate: translateParams
				    }}
				  </div>
				</div>
			-->
		</div>
		<mat-card-content>
			<ul class="list-unstyled overable container-fluid">
				<li
					*ngFor="let field of model.fields; let i = index"
					class="row border-top border-light py-1"
					[class.border-top-0]="i === 0"
				>
					<app-model-field
						[field]="field"
						(change)="onModelChange()"
						(moveUp)="onFieldUp(field)"
						(moveDown)="onFieldDown(field)"
						class="col-12"
					></app-model-field>
				</li>
				<li></li>
			</ul>
			<app-validator-details
				[signal]="change"
				[model]="model"
				class="d-block mt-2"
			></app-validator-details>
		</mat-card-content>
	</mat-card>
</form>
