<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <p class="text-secondary mb-5">
              {{ 'loader_bitbucket_intro' | translate }}
            </p>
        </div>
    </div>

    <div class="row" *ngIf="!user">
        <div class="col-12 text-center">
            <button class="btn btn-primary" (click)="onConnectClick()">
                {{ 'loader_bitbucket_connect' | translate }}
            </button>
        </div>
    </div>

    <div class="row" *ngIf="repositories">
        <div class="col-12">
            <div *ngIf="repositories.templates.length">
                <div class="card">
                    <div class="card-header">
                        <div class="py-2">{{ 'loader_bitbucket_repos_templates_title' | translate}}</div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let repository of repositories.templates" class="list-group-item">
                            <app-bitbucket-repository-line [repository]="repository"
                                                           (onLoad)="onLoadTemplateClick(repository)"></app-bitbucket-repository-line>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="repositories.bootstraps.length" class="mt-5">
                <div class="card">
                    <div class="card-header">
                        <div class="py-2">{{ 'loader_bitbucket_repos_bootstraps_title' | translate}}</div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let repository of repositories.bootstraps" class="list-group-item">
                            <app-bitbucket-repository-line [repository]="repository"
                                                           (onLoad)="onLoadBootstrapClick(repository)"></app-bitbucket-repository-line>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="repositories.models.length" class="mt-5">
                <div class="card">
                    <div class="card-header">
                        <div class="py-2">{{ 'loader_bitbucket_repos_models_title' | translate}}</div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let repository of repositories.bootstraps" class="list-group-item">
                            <app-bitbucket-repository-line [repository]="repository"
                                                           (onLoad)="onLoadModelClick(repository)"></app-bitbucket-repository-line>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="user">
        <div class="col-12 text-center mt-5">
            <div class="my-2">
                {{ 'loader_bitbucket_connected_as' | translate }} <b>{{user.display_name}}</b>
            </div>
            <button class="btn btn-outline-primary" (click)="onDisconnectClick()">
                {{ 'loader_bitbucket_disconnect' | translate }}
            </button>
        </div>
    </div>

</div>
