<div class="container">
  <div class="row">
    <div class="col-10 col-lg-3 mt-3 mt-lg-0">
    </div>
  </div>

  <div class="row" *ngIf="!user">
    <div class="col-lg-12 text-center">
      <button class="btn btn-primary" (click)="onConnectClick()">{{ 'loader_bitbucket_connect' | translate }}</button>
    </div>
  </div>

  <div class="row" *ngIf="repositories">

    <div class="col-lg-12" *ngIf="repositories.templates.length">
      <h3 class="my-4">{{ 'loader_bitbucket_repos_templates_title' | translate}}</h3>
      <app-bitbucket-repository-line [repositories]="repositories.templates"></app-bitbucket-repository-line>
    </div>

    <div class="col-lg-12" *ngIf="repositories.bootstraps.length">
      <h3 class="my-4">{{ 'loader_bitbucket_repos_bootstraps_title' | translate}}</h3>
      <app-bitbucket-repository-line [repositories]="repositories.bootstraps" (onLoad)="onLoadBootstrapClick($event)"></app-bitbucket-repository-line>
    </div>

    <div class="col-lg-12" *ngIf="repositories.models.length">
      <h3 class="my-4">{{ 'loader_bitbucket_repos_models_title' | translate}}</h3>
      <app-bitbucket-repository-line [repositories]="repositories.models"></app-bitbucket-repository-line>
    </div>

  </div>

  <div class="row" *ngIf="user">
    <div class="col-lg-12 text-center mt-5">
      <div class="my-2">
        {{ 'loader_bitbucket_connected_as' | translate }} <b>{{user.display_name}}</b>
      </div>
      <button class="btn btn-outline-primary" (click)="onDisconnectClick()">{{ 'loader_bitbucket_disconnect' | translate }}</button>
    </div>
  </div>
</div>
