<!--
	<div class="col-6 ellipsis">{{ field.name }}</div>
	<div
	  class="col-6 d-flex flex-nowrap align-items-center justify-content-between"
	>
	  <div
	    class="badge"
	    [class.badge-primary]="
							field.type === fieldType.String
						"
	    [class.badge-secondary]="
							field.type === fieldType.DateTime
						"
	    [class.badge-success]="
							field.type === fieldType.Number
						"
	    [class.badge-danger]="
							field.type === fieldType.Boolean
						"
	    [class.badge-warning]="
							field.type === fieldType.Entity
						"
	  >
						<span>{{
							field.type === fieldType.Entity
								? getModelName(field)
								: field.type
						}}</span
	            ><span *ngIf="field.subtype"
	  >:{{ field.subtype }}</span
	  >
	  </div>
	  <div class="d-flex align-items-center">
	    <mat-icon
	      *ngIf="field.primary"
	      color="primary"
	      [inline]="true"
	    >vpn_key</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.unique"
	      color="primary"
	      [inline]="true"
	    >star</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.label"
	      color="primary"
	      [inline]="true"
	    >label</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.nullable"
	      color="primary"
	      [inline]="true"
	    >backspace</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.multiple"
	      color="primary"
	      [inline]="true"
	    >list</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.important"
	      color="primary"
	      [inline]="true"
	    >error_outline</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.searchable"
	      color="primary"
	      [inline]="true"
	    >search</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.sortable"
	      color="primary"
	      [inline]="true"
	    >filter_list</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.isPrivate"
	      color="primary"
	      [inline]="true"
	    >lock</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.internal"
	      color="primary"
	      [inline]="true"
	    >code</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.restricted"
	      color="primary"
	      [inline]="true"
	    >not_interested</mat-icon
	    >
	    <mat-icon
	      *ngIf="field.ownership"
	      color="primary"
	      [inline]="true"
	    >copyright</mat-icon
	    >
	  </div>
	</div>
-->

<div [formGroup]="form" class="row align-items-center">
	<div class="col-6 ellipsis">
		<input formControlName="name" class="inline-input" type="text" />
		<!--
			<div
			  *ngIf="
					form.controls['name'].invalid &&
					(form.controls['name'].dirty ||
						form.controls['name'].touched)
				"
			  class="alert alert'-danger mt-2"
			>
			  <div *ngIf="form.controls['name'].errors.required">
			    {{ 'error_name_required' | translate }}
			  </div>
			  <div
			    *ngIf="
						form.controls['name'].errors.pattern &&
						!form.controls['name'].errors.required
					"
			  >
			    {{ 'error_name_format' | translate }}
			  </div>
			  <div *ngIf="form.controls['name'].errors.minlength">
			    {{
			    'error_name_min_length' | translate: translateParams
			    }}
			  </div>
			  <div *ngIf="form.controls['name'].errors.maxlength">
			    {{
			    'error_name_max_length' | translate: translateParams
			    }}
			  </div>
			</div>
		-->
	</div>
	<div
		class="col-6 d-flex flex-nowrap align-items-center justify-content-between"
	>
		<div
			class="badge"
			[class.badge-primary]="field.type === fieldType.String"
			[class.badge-secondary]="field.type === fieldType.DateTime"
			[class.badge-success]="field.type === fieldType.Number"
			[class.badge-danger]="field.type === fieldType.Boolean"
			[class.badge-warning]="field.type === fieldType.Entity"
		>
			<span>{{
				field.type === fieldType.Entity
					? getModelName(field)
					: field.type
			}}</span
			><span *ngIf="field.subtype">:{{ field.subtype }}</span>
		</div>
		<div class="d-none">
			<select
				(change)="onInputChange()"
				formControlName="type"
				class="form-control"
			>
				<option disabled>{{ 'field_type' | translate }}</option>
				<option *ngFor="let type of types" [ngValue]="type.value">{{
					type.name
				}}</option>
			</select>
			<select formControlName="reference" class="form-control">
				<option disabled>{{ 'reference' | translate }}</option>
				<option *ngFor="let model of models" [ngValue]="model.id">{{
					model.name
				}}</option>
			</select>
		</div>
		<div class="d-flex align-items-center position-relative">
			<div
				class="fieldsTooltip flex-column justify-content-center align-items-center mat-elevation-z1 p-2"
				[class.active]="isTooltipDisplayed"
			>
				<p
					class="
			pb-2 px-2 border-bottom w-100 m-0 d-flex align-items-center justify-content-center"
					[class.generic]="fieldOvered === 'generic'"
				>
					{{ 'tooltip_' + fieldOvered | translate }}
				</p>
				<ul
					class="fieldsTooltip__group list-unstyled d-flex flex-nowrap p-0 m-0 mt-2"
				>
					<li
						*ngFor="
							let availableField of availableFields;
							let i = index
						"
						class="d-flex align-items-center"
						[class.d-none]="
							!fields.getFieldIconName(availableField)
						"
						[class.px-1]="fields.getFieldIconName(availableField)"
						(mouseover)="fieldOvered = availableField"
						(mouseleave)="fieldOvered = 'generic'"
					>
						<label
							class="m-0 p-0 d-flex align-items-center"
							*ngIf="fields.getFieldIconName(availableField)"
							title="{{
								'tooltip_' + availableField | translate
							}}"
							[class.active]="field[availableField]"
						>
							<input
								(change)="onInputChange()"
								[formControlName]="availableField"
								type="checkbox"
								autocomplete="off"
								class="d-none"
							/>
							<mat-icon
								[class.inactive]="!field[availableField]"
								color="primary"
								>{{
									fields.getFieldIconName(availableField)
								}}</mat-icon
							>
						</label>
					</li>
				</ul>
				<div class="overlay" (click)="isTooltipDisplayed = false"></div>
			</div>
			<ul
				class="list-unstyled m-0 p-0 d-flex flex-nowrap align-items-center"
				(click)="isTooltipDisplayed = true"
				style="cursor:pointer;"
			>
				<li
					*ngFor="let availableField of availableFields"
					[class.d-none]="!field[availableField]"
				>
					<mat-icon [inline]="true">{{
						fields.getFieldIconName(availableField)
					}}</mat-icon>
				</li>
				<li>
					<mat-icon color="primary" [inline]="true">add</mat-icon>
				</li>
			</ul>
		</div>
	</div>
</div>
