<div [formGroup]="form">
  <div class="row">
    <div class="col-lg-4 my-1 my-lg-0">
      <div class="input-cnt">
        <input formControlName="name" class="form-control" [(ngModel)]="field.name" type="text">
        <div
          *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
          class="alert alert-danger mt-2">
          <div *ngIf="form.controls['name'].errors.required">
            {{ 'error_name_required' | translate }}
          </div>
          <div *ngIf="form.controls['name'].errors.pattern && !form.controls['name'].errors.required">
            {{ 'error_name_format' | translate }}
          </div>
          <div *ngIf="form.controls['name'].errors.minlength">
            {{ 'error_name_min_length' | translate:translateParams }}
          </div>
          <div *ngIf="form.controls['name'].errors.maxlength">
            {{ 'error_name_max_length' | translate:translateParams }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-1 my-lg-0">
      <div class="row">
        <div [ngClass]="{'col-lg-6': field.type === 'entity', 'col-lg-12': field.type !== 'entity'}">
          <select formControlName="type" class="form-control" [(ngModel)]="field.type">
            <option disabled value="">{{ 'field_type' | translate }}</option>
            <option *ngFor="let type of types" value="{{type.value}}">{{type.name}}</option>
          </select>
          <div
            *ngIf="form.controls['type'].invalid && (form.controls['type'].dirty || form.controls['type'].touched)"
            class="alert alert-danger mt-2">
            <div *ngIf="form.controls['type'].errors.required">
              {{ 'error_type_required' | translate }}
            </div>
            <div *ngIf="form.controls['type'].errors.pattern && !form.controls['type'].errors.required">
              {{ 'error_type_value' | translate }}
            </div>
          </div>
        </div>
        <div *ngIf="models && field.type === fieldType.Entity" class="col-lg-6">
          <select formControlName="reference" class="form-control" [(ngModel)]="field.reference">
            <option disabled value="">{{ 'reference' | translate }}</option>
            <option *ngFor="let model of models" value="{{model.id}}">{{model.name}}</option>
          </select>
          <div
            *ngIf="form.controls['reference'].invalid && (form.controls['reference'].dirty || form.controls['reference'].touched)"
            class="alert alert-danger mt-2">
            <div *ngIf="form.controls['reference'].errors.required">
              {{ 'error_reference_required' | translate }}
            </div>
            <div *ngIf="form.controls['reference'].errors.pattern && !form.controls['reference'].errors.required">
              {{ 'error_reference_value' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-1 my-lg-0 text-lg-right">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn" title="{{ 'tooltip_primary' | translate }}"
               [ngClass]="{ 'btn-primary': field.primary, 'btn-outline-secondary': !field.primary }">
          <input formControlName="primary" type="checkbox" autocomplete="off" [(ngModel)]="field.primary">
          <span class="oi oi-key"></span>
        </label>
        <label class="btn" title="{{ 'tooltip_unique' | translate }}"
               [ngClass]="{ 'btn-primary': field.unique, 'btn-outline-secondary': !field.unique }">
          <input formControlName="unique" type="checkbox" autocomplete="off" [(ngModel)]="field.unique">
          <span class="oi oi-star"></span>
        </label>
        <label class="btn" title="{{ 'tooltip_searchable' | translate }}"
               [ngClass]="{ 'btn-primary': field.searchable, 'btn-outline-secondary': !field.searchable }">
          <input formControlName="searchable" type="checkbox" autocomplete="off" [(ngModel)]="field.searchable">
          <span class="oi oi-magnifying-glass"></span>
        </label>
        <label class="btn" title="{{ 'tooltip_sortable' | translate }}"
               [ngClass]="{ 'btn-primary': field.sortable, 'btn-outline-secondary': !field.sortable }">
          <input formControlName="sortable" type="checkbox" autocomplete="off" [(ngModel)]="field.sortable">
          <span class="oi oi-arrow-thick-bottom"></span>
        </label>
        <label class="btn" title="{{ 'tooltip_private' | translate }}"
               [ngClass]="{ 'btn-primary': field.isPrivate, 'btn-outline-secondary': !field.isPrivate }">
          <input formControlName="isPrivate" type="checkbox" autocomplete="off" [(ngModel)]="field.isPrivate">
          <span class="oi oi-shield"></span>
        </label>
        <label class="btn" title="{{ 'tooltip_internal' | translate }}"
               [ngClass]="{ 'btn-primary': field.internal, 'btn-outline-secondary': !field.internal }">
          <input formControlName="internal" type="checkbox" autocomplete="off" [(ngModel)]="field.internal">
          <span class="oi oi-code"></span>
        </label>
      </div>
    </div>
  </div>
</div>
