@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

$string: #799599;
$datetime: #3cbacc;
$number: #52d19b;
$boolean: #ffa4a4;
$entity: #d93c89;
$object: #d9a251;
$file: #7273d9;

.badge {
	cursor: pointer;
	border-radius: 4px;
	color: $white;
	&.badge-string {
		background-color: $string;
	}
	&.badge-datetime {
		background-color: $datetime;
	}
	&.badge-number {
		background-color: $number;
	}
	&.badge-boolean {
		background-color: $boolean;
	}
	&.badge-entity {
		background-color: $entity;
	}
	&.badge-object {
		background-color: $object;
	}
	&.badge-file {
		background-color: $file;
	}
}

mat-icon.inactive {
	color: $gray-600;
}

.fieldsTooltip,
.typesTooltip {
	position: absolute;
	z-index: 99999;
	bottom: 110%;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 4px;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s ease, right 0.2s ease;

	&.active {
		pointer-events: initial;
		opacity: 1;
		right: -16px;
	}

	* {
		position: relative;
		z-index: 99999;
	}

	.overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99998;
	}
}

.fieldsTooltip {
	right: -32px;

	p {
		min-height: 48px;
		font-size: 0.8em;
		color: $gray-700;

		&.generic {
			color: $gray-600;
		}
	}

	.fieldsTooltip__group {
		position: relative;
		li {
			mat-icon {
				transition: color 0.1s ease;
			}
			&:hover {
				background: transparent;
				mat-icon {
					color: $gray-700;
				}
			}

			label {
				cursor: pointer;
			}
		}
	}
}

.typesTooltip {
	right: 45%;

	&.active {
		right: 50%;
	}

	mat-icon {
		cursor: pointer;
		transition: color 0.1s ease;
		&:hover {
			color: $gray-600;
		}
	}

	li {
		font-size: 1em;

		.fieldTitle-string {
			color: $string;
		}
		.fieldTitle-datetime {
			color: $datetime;
		}
		.fieldTitle-number {
			color: $number;
		}
		.fieldTitle-boolean {
			color: $boolean;
		}
		.fieldTitle-entity {
			color: $entity;
		}
		.fieldTitle-object {
			color: $object;
		}
		.fieldTitle-file {
			color: $file;
		}

		.field {
			cursor: pointer;
			[type='radio'] {
				& + span {
					border-radius: 4px;
					transition: background-color 0.1s ease, color 0.1s ease;
					&.field-string {
						color: $string;
					}
					&.field-datetime {
						color: $datetime;
					}
					&.field-number {
						color: $number;
					}
					&.field-boolean {
						color: $boolean;
					}
					&.field-entity {
						color: $entity;
					}
					&.field-object {
						color: $object;
					}
					&.field-file {
						color: $file;
					}
				}

				&:checked + span,
				& + span:hover {
					color: $white;
					&.field-string {
						background-color: $string;
					}
					&.field-datetime {
						background-color: $datetime;
					}
					&.field-number {
						background-color: $number;
					}
					&.field-boolean {
						background-color: $boolean;
					}
					&.field-entity {
						background-color: $entity;
					}
					&.field-object {
						background-color: $object;
					}
					&.field-file {
						background-color: $file;
					}
				}
			}
		}
	}
}

.selectedFields {
	cursor: pointer;
	mat-icon:not(.mat-primary) {
		color: $gray-600;
	}
}

.deletionMode {
	cursor: pointer;
}
