<div [formGroup]="form" class="row align-items-center">
	<div class="col-6 ellipsis">
		<input
			formControlName="name"
			class="inline-input"
			type="text"
			(change)="onInputChange()"
		/>
		<!--
			<div
			  *ngIf="
					form.controls['name'].invalid &&
					(form.controls['name'].dirty ||
						form.controls['name'].touched)
				"
			  class="alert alert'-danger mt-2"
			>
			  <div *ngIf="form.controls['name'].errors.required">
			    {{ 'error_name_required' | translate }}
			  </div>
			  <div
			    *ngIf="
						form.controls['name'].errors.pattern &&
						!form.controls['name'].errors.required
					"
			  >
			    {{ 'error_name_format' | translate }}
			  </div>
			  <div *ngIf="form.controls['name'].errors.minlength">
			    {{
			    'error_name_min_length' | translate: translateParams
			    }}
			  </div>
			  <div *ngIf="form.controls['name'].errors.maxlength">
			    {{
			    'error_name_max_length' | translate: translateParams
			    }}
			  </div>
			</div>
		-->
	</div>
	<div
		class="col-6 d-flex flex-nowrap align-items-center justify-content-between"
	>
		<div
			class="badge"
			[class.badge-string]="field.type === fieldType.String"
			[class.badge-datetime]="field.type === fieldType.DateTime"
			[class.badge-number]="field.type === fieldType.Number"
			[class.badge-boolean]="field.type === fieldType.Boolean"
			[class.badge-entity]="field.type === fieldType.Entity"
		>
			<span
				(click)="
					isTypesTooltipDisplayed = true;
					isSubtypesTooltipDisplayed = false
				"
				>{{
					field.type === fieldType.Entity
						? getModelName(field)
						: field.type
				}}</span
			><span
				*ngIf="field.subtype"
				(click)="isTypesTooltipDisplayed = true"
				>:{{ field.subtype }}</span
			>
			<div
				class="typesTooltip d-flex flex-row flex-nowrap justify-content-center align-items-center p-2 border border-hpf-primary"
				[class.active]="isTypesTooltipDisplayed"
			>
				<mat-icon
					[inline]="true"
					class="ml-1 mr-2"
					[class.d-none]="!isSubtypesTooltipDisplayed"
					(click)="isSubtypesTooltipDisplayed = false"
					color="primary"
					>arrow_back</mat-icon
				>
				<ul
					class="list-unstyled flex-nowrap m-0 p-0 typeList"
					[class.d-none]="isSubtypesTooltipDisplayed"
					[class.d-flex]="!isSubtypesTooltipDisplayed"
				>
					<li
						*ngFor="let type of types; let i = index"
						class="m-1"
						[class.ml-0]="i === 1"
						[class.mr-0]="i === types.length - 1"
					>
						<label class="m-0 field">
							<input
								type="radio"
								[value]="type.value"
								class="d-none"
								formControlName="type"
								(change)="onInputChange(); field.subtype = null"
								(click)="toggleSubtypesTooltip(type)"
							/>
							<span
								class="p-1"
								[class.field-string]="
									type.value === fieldType.String
								"
								[class.field-datetime]="
									type.value === fieldType.DateTime
								"
								[class.field-number]="
									type.value === fieldType.Number
								"
								[class.field-boolean]="
									type.value === fieldType.Boolean
								"
								[class.field-entity]="
									type.value === fieldType.Entity
								"
							>
								{{ type.name }}
							</span>
						</label>
					</li>
				</ul>
				<ul
					class="list-unstyled flex-nowrap m-0 p-0 subtypeList"
					[class.d-none]="
						field.type === fieldType.Entity ||
						!isSubtypesTooltipDisplayed
					"
					[class.d-flex]="
						field.type !== fieldType.Entity &&
						isSubtypesTooltipDisplayed
					"
				>
					<li
						class="d-flex align-items-center pr-2 mr-2 border-right border-hpf-primary font-weight-bold text-capitalize"
					>
						<span
							[class.fieldTitle-string]="
								field.type === fieldType.String
							"
							[class.fieldTitle-datetime]="
								field.type === fieldType.DateTime
							"
							[class.fieldTitle-number]="
								field.type === fieldType.Number
							"
							[class.fieldTitle-boolean]="
								field.type === fieldType.Boolean
							"
							>{{ field.type }}</span
						>
					</li>
					<li
						*ngFor="let subtype of subtypes; let i = index"
						class="m-1"
						[class.ml-0]="i === 1"
						[class.mr-0]="i === subtypes.length - 1"
					>
						<label class="m-0 field">
							<input
								type="radio"
								[value]="subtype.value"
								class="d-none"
								formControlName="subtype"
								(change)="onInputChange()"
							/>
							<span
								class="p-1"
								[class.field-string]="
									field.type === fieldType.String
								"
								[class.field-datetime]="
									field.type === fieldType.DateTime
								"
								[class.field-number]="
									field.type === fieldType.Number
								"
								[class.field-boolean]="
									field.type === fieldType.Boolean
								"
								[class.field-entity]="
									field.type === fieldType.Entity
								"
							>
								{{ subtype.name }}
							</span>
						</label>
					</li>
				</ul>
				<ul
					class="list-unstyled flex-nowrap m-0 p-0 subtypeList"
					[class.d-flex]="
						field.type === fieldType.Entity &&
						isSubtypesTooltipDisplayed
					"
					[class.d-none]="
						field.type !== fieldType.Entity ||
						!isSubtypesTooltipDisplayed
					"
				>
					<li>
						<span class="fieldTitle-entity">{{ field.type }}</span>
						|
					</li>
					<li
						*ngFor="let model of models; let i = index"
						class="m-1"
						[class.ml-0]="i === 1"
						[class.mr-0]="i === models.length - 1"
					>
						<label class="m-0 field">
							<input
								type="radio"
								[value]="model.id"
								class="d-none"
								formControlName="reference"
								(change)="onInputChange(); field.subtype = null"
							/>
							<span class="p-1 field-entity">
								{{ model.name }}
							</span>
						</label>
					</li>
				</ul>
				<div
					class="overlay"
					(click)="isTypesTooltipDisplayed = false"
				></div>
			</div>
		</div>

		<div class="d-flex align-items-center position-relative">
			<div
				class="fieldsTooltip flex-column justify-content-center align-items-center p-2 border border-hpf-primary"
				[class.active]="isFieldsTooltipDisplayed"
			>
				<p
					class="
			pb-2 px-2 border-bottom w-100 m-0 d-flex align-items-center justify-content-center"
					[class.generic]="fieldOvered === 'generic'"
				>
					{{ 'tooltip_' + fieldOvered | translate }}
				</p>
				<ul
					class="fieldsTooltip__group list-unstyled d-flex flex-nowrap p-0 m-0 mt-2"
				>
					<li
						*ngFor="
							let availableField of availableFields;
							let i = index
						"
						class="d-flex align-items-center"
						[class.d-none]="
							!fields.getFieldIconName(availableField)
						"
						[class.px-1]="fields.getFieldIconName(availableField)"
						(mouseover)="fieldOvered = availableField"
						(mouseleave)="fieldOvered = 'generic'"
					>
						<label
							class="m-0 p-0 d-flex align-items-center"
							*ngIf="fields.getFieldIconName(availableField)"
							title="{{
								'tooltip_' + availableField | translate
							}}"
							[class.active]="field[availableField]"
						>
							<input
								(change)="onInputChange()"
								[formControlName]="availableField"
								type="checkbox"
								autocomplete="off"
								class="d-none"
							/>
							<mat-icon
								[class.inactive]="!field[availableField]"
								color="primary"
								>{{
									fields.getFieldIconName(availableField)
								}}</mat-icon
							>
						</label>
					</li>
				</ul>
				<div
					class="overlay"
					(click)="isFieldsTooltipDisplayed = false"
				></div>
			</div>
			<ul
				class="list-unstyled m-0 p-0 d-flex flex-nowrap align-items-center selectedFields"
				(click)="isFieldsTooltipDisplayed = true"
			>
				<li
					*ngFor="let availableField of availableFields"
					[class.d-none]="!field[availableField]"
				>
					<mat-icon [inline]="true">{{
						fields.getFieldIconName(availableField)
					}}</mat-icon>
				</li>
				<li *ngIf="noSelectedField">
					<mat-icon color="primary" [inline]="true">add</mat-icon>
				</li>
			</ul>
		</div>
	</div>
</div>
