<div class="d-flex h-100 align-content-stretch flex-nowrap">
	<app-sidebar
		class="d-none d-sm-block flex-shrink-0 flex-grow-0"
		[class.reduced]="sidebarIsReduced"
		[class.sm]="breakpoint.label === 'sm'"
		[reduced]="sidebarIsReduced"
	></app-sidebar>
	<div
		id="toggleReduceSidebar"
		class="flex-shrink-0 flex-grow-0"
		[class.reduced]="sidebarIsReduced"
		(click)="sidebarIsReduced = !sidebarIsReduced"
	></div>
	<div
		id="routerOutletContainer"
		class="d-block bg-plain-grey-1 flex-shrink-1 flex-grow-1"
	>
		<router-outlet></router-outlet>
	</div>
</div>
