@import '~bootstrap/scss/bootstrap';

app-sidebar {
	flex-basis: 216px;
	overflow-x: hidden;

	&.sm,
	&.reduced {
		flex-basis: 80px;
	}
}

#toggleReduceSidebar {
	width: 3px;
	background-color: $gray-200;
	cursor: w-resize;
	&.reduced {
		cursor: e-resize;
	}
}
