<div class="d-flex h-100 align-content-stretch flex-nowrap">
	<app-sidebar
		class="d-none d-sm-block flex-shrink-0 flex-grow-0 {{
			breakpoint.label
		}} {{ sidebarIsReduced ? 'reduced' : '' }}"
		[reduced]="sidebarIsReduced"
	></app-sidebar>
	<div
		id="toggleReduceSidebar"
		class="flex-shrink-0 flex-grow-0"
		[class.reduced]="sidebarIsReduced"
		(click)="sidebarIsReduced = !sidebarIsReduced"
	></div>
	<div
		id="scrollzone"
		(scroll)="test()"
		class="d-block h-100 w-100 bg-plain-grey-1 flex-shrink-1 flex-grow-1"
	>
		<div #scrollzone><router-outlet></router-outlet></div>
	</div>
</div>
