<div id="root">
  <div class="container">
    <div class="models-list">

      <div *ngFor="let model of models;" class="my-3">
        <app-model-model-row [model]="model" (onDelete)="deleteModel(model)"></app-model-model-row>
      </div>

      <div *ngIf="models && !models.length">
        <div class="row">
          <div class="col-lg-12 text-center">
            <a [routerLink]="['/model/new']" class="btn btn-primary">{{ 'common_new_model' | translate }}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
