<header class="row py-3 px-4 border-bottom">
	<div class="col-12 d-flex justify-content-between align-items-center">
		<h1 class="mb-0">
			{{ 'models_title' | translate }}
			<small class="d-block mt-2">{{ 'models_intro' | translate }}</small>
		</h1>
		<div class="flex-shrink-0">
			<a
				mat-raised-button
				color="accent"
				class="mat-elevation-z0 border mr-3 d-inline-flex align-items-center"
				[routerLink]="['/model/new']"
			>
				<mat-icon>add</mat-icon>
				{{ 'common_new_model' | translate }}
			</a>
			<a
				*ngIf="mode === 'list'"
				[routerLink]="['/model/2d']"
				mat-mini-fab
				color="accent"
				class="mat-elevation-z0 border"
			>
				<mat-icon>apps</mat-icon>
			</a>
			<a
				*ngIf="mode === 'grid'"
				[routerLink]="['/model']"
				mat-mini-fab
				color="accent"
				class="mat-elevation-z0 border"
			>
				<mat-icon>list</mat-icon>
			</a>
		</div>
	</div>
</header>
