<div id="root-channel">
  <div class="container-fluid">
    <div class="channels-list">
      <div class="card">
        <div class="card-header">
          <div class="clearfix">
            <div class="float-left py-2">{{ 'channels_subtitle' | translate }}</div>
            <div class="float-right">
              <a [routerLink]="['/channel/new']" class="btn btn-outline-primary">
                <span class="oi oi-plus small"></span> {{ 'common_new_channel' | translate }}
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="channels && channels.length">
          <ul class="list-group list-group-flush">
            <li *ngFor="let channel of channels;" class="list-group-item">
              <app-channel-channel-row [channel]="channel"
                                       (onDelete)="deleteChannel(channel)"></app-channel-channel-row>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
