@import '~bootstrap/scss/bootstrap';
mat-card {
	position: relative;
	opacity: 0;
	animation: fadein 0.3s forwards;
	animation-delay: 0.2s;
}

h2 {
	font-size: 0.9em;

	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
}

.overable li:hover {
	background-color: $gray-100;
}
