<div class="card model-uml">
  <div class="card-header py-2 px-2">
    <a class="small" [routerLink]="['/model', 'edit', model.id]">
      <span class="mr-2">
        {{ model.name }}
      </span>
      <app-validator-icon [model]="model"></app-validator-icon>
    </a>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let field of model.fields;"
        class="list-group-item py-1 px-2">
      <div class="row">
        <div class="col-2 properties small">
          <span *ngIf="field.primary"><span class="text-primary">P</span></span>
          <span *ngIf="field.unique"><span class="text-primary">*</span></span>
          <span *ngIf="field.label"><span class="text-success">L</span></span>
          <span *ngIf="field.nullable"><span class="text-warning">&Oslash;</span></span>
          <span *ngIf="field.multiple"><span class="text-warning">[]</span></span>
          <span *ngIf="field.searchable"><span class="text-info">S</span></span>
          <span *ngIf="field.sortable"><span class="text-info">&darr;</span></span>
          <span *ngIf="field.important"><span class="text-info">!</span></span>
          <span *ngIf="field.isPrivate"><span class="text-danger">/</span></span>
          <span *ngIf="field.internal"><span class="text-danger">-</span></span>
        </div>
        <div class="col-4 type">
          <div class="small">
            <div class="badge"
                 [class.badge-primary]="field.type === fieldType.String"
                 [class.badge-secondary]="field.type === fieldType.DateTime"
                 [class.badge-success]="field.type === fieldType.Number"
                 [class.badge-danger]="field.type === fieldType.Boolean"
                 [class.badge-warning]="field.type === fieldType.Entity">
              <span>{{ field.type === fieldType.Entity ? getModelName(field) : field.type }}</span><span *ngIf="field.subtype">:{{ field.subtype }}</span>
            </div>
          </div>
        </div>
        <div class="col-6 name small" [class.font-weight-bold]="field.primary">{{ field.name }}</div>
      </div>
    </li>
  </ul>
</div>
