<mat-card>
	<div
		class="d-flex w-100 align-items-center justify-content-start flex-nowrap border-bottom pb-2 mb-2"
	>
		<app-validator-icon
			[model]="model"
			class="flex-shrink-0 mr-2"
		></app-validator-icon>
		<h2>
			<a [routerLink]="['/model', 'edit', model.id]">{{ model.name }}</a>
		</h2>
	</div>
	<mat-card-content>
		<ul class="list-unstyled overable container-fluid">
			<li
				*ngFor="let field of model.fields; let i = index"
				class="border-top border-light row py-1"
				[class.border-top-0]="i === 0"
			>
				<div class="col-6 ellipsis">{{ field.name }}</div>
				<div
					class="col-6 d-flex flex-nowrap align-items-center justify-content-between"
				>
					<div
						class="badge"
						[class.badge-primary]="field.type === fieldType.String"
						[class.badge-secondary]="
							field.type === fieldType.DateTime
						"
						[class.badge-success]="field.type === fieldType.Number"
						[class.badge-danger]="field.type === fieldType.Boolean"
						[class.badge-warning]="field.type === fieldType.Entity"
					>
						<span>{{
							field.type === fieldType.Entity
								? getModelName(field)
								: field.type
						}}</span
						><span *ngIf="field.subtype">:{{ field.subtype }}</span>
					</div>
					<div class="d-flex align-items-center">
						<mat-icon
							*ngIf="field.primary"
							color="primary"
							[inline]="true"
							>vpn_key</mat-icon
						>
						<mat-icon
							*ngIf="field.unique"
							color="primary"
							[inline]="true"
							>star</mat-icon
						>
						<mat-icon
							*ngIf="field.label"
							color="primary"
							[inline]="true"
							>label</mat-icon
						>
						<mat-icon
							*ngIf="field.nullable"
							color="primary"
							[inline]="true"
							>backspace</mat-icon
						>
						<mat-icon
							*ngIf="field.multiple"
							color="primary"
							[inline]="true"
							>list</mat-icon
						>
						<mat-icon
							*ngIf="field.important"
							color="primary"
							[inline]="true"
							>error_outline</mat-icon
						>
						<mat-icon
							*ngIf="field.searchable"
							color="primary"
							[inline]="true"
							>search</mat-icon
						>
						<mat-icon
							*ngIf="field.sortable"
							color="primary"
							[inline]="true"
							>filter_list</mat-icon
						>
						<mat-icon
							*ngIf="field.isPrivate"
							color="primary"
							[inline]="true"
							>lock</mat-icon
						>
						<mat-icon
							*ngIf="field.internal"
							color="primary"
							[inline]="true"
							>code</mat-icon
						>
						<mat-icon
							*ngIf="field.restricted"
							color="primary"
							[inline]="true"
							>not_interested</mat-icon
						>
						<mat-icon
							*ngIf="field.ownership"
							color="primary"
							[inline]="true"
							>copyright</mat-icon
						>
					</div>
				</div>
			</li>
		</ul>
	</mat-card-content>
</mat-card>
