<nav class="px-3 {{ breakpoint.label }} {{ reduced ? 'reduced' : '' }}">
	<a
		routerLink="/"
		class="hpflogofont d-none py-4 px-3"
		[class.d-lg-block]="!reduced"
		color="white"
		>HAPIfy</a
	>
	<a
		routerLink="/"
		class="hpflogofont d-block py-4 text-center"
		[class.d-lg-none]="!reduced"
		color="white"
		>[H]</a
	>
	<p class="d-none mb-3 px-3" [class.d-lg-block]="!reduced">
		{{ info ? info.project.name : '&nbsp;' }}
	</p>
	<ul class="list-unstyled pt-5 d-flex w-100 flex-column align-items-center">
		<li class="mb-3">
			<a
				mat-raised-button
				color="primary"
				[routerLinkActive]="['active']"
				[routerLink]="['/model']"
				class="d-flex align-items-center justify-content-center mat-elevation-z0"
				[class.justify-content-lg-start]="!reduced"
			>
				<mat-icon class="mr-md-0" [class.mr-lg-2]="!reduced"
					>home</mat-icon
				><span class="d-none" [class.d-lg-inline]="!reduced">{{
					'nav_model' | translate
				}}</span>
			</a>
		</li>
		<li class="mb-3">
			<a
				mat-raised-button
				color="primary"
				[routerLinkActive]="['active']"
				[routerLink]="['/preset']"
				class="d-flex align-items-center justify-content-center mat-elevation-z0"
				[class.justify-content-lg-start]="!reduced"
			>
				<mat-icon class="mr-md-0" [class.mr-lg-2]="!reduced"
					>input</mat-icon
				><span class="d-none" [class.d-lg-inline]="!reduced">{{
					'nav_preset' | translate
				}}</span>
			</a>
		</li>
		<li class="mb-5">
			<a
				mat-raised-button
				color="primary"
				[routerLinkActive]="['active']"
				[routerLink]="['/channel']"
				class="d-flex align-items-center justify-content-center mat-elevation-z0"
				[class.justify-content-lg-start]="!reduced"
			>
				<mat-icon class="mr-md-0" [class.mr-lg-2]="!reduced"
					>format_list_bulleted</mat-icon
				><span class="d-none" [class.d-lg-inline]="!reduced">{{
					'nav_channel' | translate
				}}</span>
			</a>
		</li>
		<li>
			<a
				mat-raised-button
				color="primary"
				[routerLinkActive]="['active']"
				[routerLink]="['/documentation']"
				class="d-flex align-items-center justify-content-center mat-elevation-z0"
				[class.justify-content-lg-start]="!reduced"
			>
				<mat-icon class="mr-md-0" [class.mr-lg-2]="!reduced"
					>assignment</mat-icon
				><span class="d-none" [class.d-lg-inline]="!reduced">{{
					'nav_documentation' | translate
				}}</span>
			</a>
		</li>
	</ul>
</nav>
