
<div class="bg-primary">
  <a class="px-3 py-4 text-white nav-link" [routerLink]="['/']">{{ 'app_name' | translate }}</a>
</div>
<div class="py-3 menu">
  <nav class="nav flex-column">
    <a class="p-3 text-muted nav-link" [routerLinkActive]="['active']" [routerLink]="['/model']">{{ 'nav_model' | translate }}</a>
    <a class="p-3 text-muted nav-link" [routerLinkActive]="['active']" [routerLink]="['/channel']">{{ 'nav_channel' | translate }}</a>
    <a class="p-3 text-muted nav-link" [routerLinkActive]="['active']" [routerLink]="['/generator']">{{ 'nav_generator' | translate }}</a>
    <a class="p-3 text-muted nav-link" [routerLinkActive]="['active']" [routerLink]="['/loader']">{{ 'nav_loader' | translate }}</a>
  </nav>
</div>
