@import '../../../../theme.scss';

ul {
	font-size: 12px;
	border-left: 1px solid mat-color($hpf-app-primary, 100);
	li {
		& > span {
			transition: background-color 0.1s ease;

			& > span {
				cursor: pointer;

				mat-icon {
					margin-top: 2px;
				}
			}

			& > mat-icon {
				cursor: pointer;
			}
		}

		app-tree {
			height: 0;
			overflow: hidden;
			transition: height 0.1s ease;

			&.openned {
				height: auto;
			}
		}
	}
}
