@import '../../../../theme.scss';

$ts-bg: #dbebff;
$ts: #75a2ff;
$html-bg: #f1ffed;
$html: #95ff94;
$scss-bg: #ffe5e5;
$scss: #ff8192;
$json-bg: #fff9e2;
$json: #fff9e2;
$folder-bg: #dbdee2;
$folder: #838487;

ul {
	font-size: 12px;
	border-left: 1px solid mat-color($hpf-app-primary, 100);
	li {
		& > span {
			transition: background-color 0.1s ease;

			&.ts:hover,
			&.ts.selected {
				background-color: $ts-bg;
			}
			&.html:hover,
			&.html.selected {
				background-color: $html-bg;
			}
			&.scss:hover,
			&.scss.selected {
				background-color: $scss-bg;
			}
			&.json:hover,
			&.json.selected {
				background-color: $json-bg;
			}
			&.folder:hover,
			&.folder.selected {
				background-color: $folder-bg;
			}

			& > span {
				cursor: pointer;

				mat-icon {
					margin-top: 2px;
				}
			}

			& > mat-icon {
				cursor: pointer;
			}
		}

		app-tree {
			height: 0;
			overflow: hidden;
			transition: height 0.1s ease;

			&.openned {
				height: auto;
			}
		}
	}
}

.fileIconColor.ts {
	mat-icon {
		color: $ts;
	}
}
.fileIconColor.html {
	mat-icon {
		color: $html;
	}
}
.fileIconColor.scss {
	mat-icon {
		color: $scss;
	}
}
.fileIconColor.json {
	mat-icon {
		color: $json;
	}
}
.fileIconColor.folder {
	mat-icon {
		color: $folder;
	}
}
