<ul *ngIf="tree && tree.length" class="list-unstyled w-100 d-flex flex-column">
	<li *ngFor="let branch of tree" class="w-100 pl-2 d-flex flex-column">
		<span
			class="d-flex align-items-center justify-content-between py-1 px-2 {{
				getType(branch.path)
			}}"
			[class.selected]="selectedPath === branch.path"
		>
			<span
				class="w-100 flex-shrink-1 d-flex align-items-center"
				(click)="
					onSelectPath(branch.path);
					isOpen[branch.path] = !isOpen[branch.path]
				"
			>
				<div class="mr-1 fileIconColor {{ getType(branch.path) }}">
					<mat-icon
						*ngIf="
							getType(branch.path) === 'folder' &&
							isOpen[branch.path]
						"
						[inline]="true"
						>folder_open</mat-icon
					>
					<mat-icon
						*ngIf="
							getType(branch.path) === 'folder' &&
							!isOpen[branch.path]
						"
						[inline]="true"
						>folder</mat-icon
					>
					<mat-icon
						*ngIf="getType(branch.path) !== 'folder'"
						[inline]="true"
						>insert_drive_file</mat-icon
					>
				</div>
				{{ branch.name }}
			</span>
			<mat-icon
				*ngIf="getType(branch.path) === 'folder'"
				color="primary"
				class="flex-shrink-0"
				(click)="isOpen[branch.path] = !isOpen[branch.path]"
			>
				{{
					isOpen[branch.path]
						? 'keyboard_arrow_down'
						: 'keyboard_arrow_left'
				}}
			</mat-icon>
		</span>
		<app-tree
			[selectedPath]="selectedPath"
			class="d-flex flex-column"
			[class.openned]="isOpen[branch.path]"
			[tree]="branch.children"
			(selectPath)="onSelectPath($event)"
		></app-tree>
	</li>
</ul>
