<div class="container-fluid">
  <div class="row">
    <div class="col-10 col-lg-3 mt-3 mt-lg-0">
      <div class="input-group-lg">
        <label>{{ 'generator_select_channel' | translate }}</label>
        <select [(ngModel)]="channel" class="form-control">
          <option *ngFor="let channel of channels" [ngValue]="channel">{{channel.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="channel && channel.templates && models" class="col-2 col-lg-1 mt-3 mt-lg-0">
      <div class="input-group-lg">
        <label>&nbsp;</label>
        <div class="p-1">
          <button (click)="onDownload($event)" class="btn btn-outline-primary" title="{{ 'generator_download' | translate }}">
            <span class="oi oi-data-transfer-download"></span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="channel" class="col-lg-4 mt-3 mt-lg-0">
      <div class="input-group-lg">
        <label>{{ 'generator_select_template' | translate }}</label>
        <select [(ngModel)]="template" class="form-control" (ngModelChange)="onChange($event)">
          <option *ngFor="let template of channel.templates" [ngValue]="template">{{template.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="channel && template && template.needsModel()" class="col-lg-4 mt-3 mt-lg-0">
      <div class="input-group-lg">
        <label>{{ 'generator_select_model' | translate }}</label>
        <select [(ngModel)]="model" class="form-control" (ngModelChange)="onChange($event)">
          <option *ngFor="let model of models" [ngValue]="model">{{model.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="error">
    <div class="mt-3">
      <div class="row">
        <div class="col-lg-12">
          <h4>{{ 'generator_title_error' | translate }}</h4>
          <div class="rounded alert alert-danger small">
            <pre class="m-0 p-2">{{ error }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="result">
    <div class="mt-3">
      <div class="row">
        <div class="col-lg-12">
          <h4>{{ 'generator_title_path' | translate }}</h4>
          <div class="p-3 rounded bg-light">
            <pre class="m-0"><code>{{ result.path }}</code></pre>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="row">
        <div class="col-lg-12">
          <h4>{{ 'generator_title_content' | translate }}</h4>
          <div class="mt-3 p-3 rounded code bg-light"
               ace-editor
               [(text)]="result.content"
               [mode]="aceService.mode(result.path)"
               [theme]="aceService.theme()"
               [options]="{maxLines: 10e6, printMargin: false}"
               [readOnly]="true"
               [autoUpdateContent]="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>
