<mat-card>
	<mat-card-content>
		<form [formGroup]="form" (change)="updateModel()">
			<div
				class="d-flex w-100 align-items-center justify-content-between flex-nowrap border-bottom pb-2"
			>
				<!-- Todo: Delete this input -->
				<input formControlName="name" class="d-none" type="text" />
				<!-- /Delete this input -->
				<input
					autofocus
					class="title inline-input w-100 flex-shrink-1 mr-2"
					formControlName="path"
					type="text"
				/>
				<div class="d-flex align-items-center w-25 flex-shrink-0">
					<mat-select
						formControlName="engine"
						class="mr-3"
						matTooltip="{{ 'template_engine' | translate }}"
					>
						<mat-option disabled>{{
							'template_engine' | translate
						}}</mat-option>
						<mat-option
							*ngFor="let engine of engines"
							[value]="engine.value"
							>{{ engine.name }}</mat-option
						>
					</mat-select>
					<!--
						<span class="d-none">
						  {{ 'template_input_one' | translate }}
						  {{ 'template_input_all' | translate }}
						</span>
					-->

					<mat-select
						formControlName="input"
						matTooltip="{{ 'template_input' | translate }}"
					>
						<mat-option disabled>{{
							'template_input' | translate
						}}</mat-option>
						<mat-option
							*ngFor="let input of inputs"
							[value]="input.value"
							>{{ input.name | translate }}</mat-option
						>
					</mat-select>
				</div>
			</div>
			<div class="template-preview mt-2">
				<pre
					class="m-0 p-3 rounded"
				><code>{{ template.content }}</code></pre>
				<div
					class="open-overlay d-flex align-items-center justify-content-center"
				>
					<button
						type="button"
						mat-raised-button
						color="primary"
						(click)="onShowEditor()"
						class="d-flex align-items-center"
					>
						<mat-icon [inline]="true" class="mr-1">edit</mat-icon>
						{{ 'template_open_editor' | translate }}
					</button>
				</div>
			</div>
		</form>
	</mat-card-content>
</mat-card>
<div *ngIf="showEditor">
	<app-channel-editor
		[pathMaxLength]="maxLength"
		[pathMinLength]="minLength"
		[template]="template"
		(onSave)="onEditorSave($event)"
		(onClose)="onEditorClose()"
	>
	</app-channel-editor>
</div>
